.site-footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #F26419;
    padding: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}